.container-producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cont-input {
    margin: auto;
    width: 85%;
  }

  .cont-ItemList {
    margin: auto;
    width: 85%;
  }

}