.card {

  .card-footer-item {
    .btn-detalle {
      box-shadow: 3px 3px 5px green;
      background: linear-gradient(65deg, rgba(188, 220, 191, 1) 35%, rgba(230, 240, 229, 1) 100%);

      .link {
        text-decoration: none;
        color: black;
      }
    }
  }
}