.card {

  .card-footer-item {
    .btn-detalle {
      box-shadow: $btnShadow;
      background: $btnBackGround;

      .link {
        text-decoration: none;
        color: black;
      }
    }
  }
}