  .cont-checkout {
    width: 100%;

    .contenedor-pedido {
      width: 100%;
      margin: 80px auto;
      display: flex;

      @include notebook {
        flex-direction: column;
      }

      .tit-check {
        font-size: 1.4rem;
        text-decoration: underline;
      }

      .inputs-group {
        width: 80%;

        @include mobile600 {
          width: 90%;
        }
      }

      .detalle-pedido {
        margin: auto;
        width: 50%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;

        @include notebook {
          width: 90%;
        }

        .carrito-pedido {
          height: 75%;
          display: flex;
          padding: 10px;

          .list-prod {
            width: 100%;
          }
        }

        .enviar-cont {
          margin-top: 50px;
          display: flex;
          align-items: center;
          height: 25%;


          .total-pedido {
            margin: auto;
            font-weight: 600;
            font-style: italic;
          }

          .btn-cont {
            margin: auto;

            .btn {
              box-shadow: $btnShadow;
              background: $btnBackGround;
            }
          }
        }
      }
    }
  }