.container-navbar {
  display: flex;
  padding: 20px;

  .container-logo {
    margin: auto;
    display: flex;
    justify-content: center;


    h1 {
      margin: auto;
    }

  }

  .container-info-nav {
    margin: auto;
    display: flex;
    flex-direction: column;

    .container-principal {
      margin: auto;
      padding: 15px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .container-btn {
      width: 100%;
      margin: auto;
      padding: 10px;


      .row {
        display: flex;
        justify-content: space-evenly;

        .btn {
          background: linear-gradient(65deg, rgba(188, 220, 191, 1) 35%, rgba(230, 240, 229, 1) 100%);
          width: 85%;
          color: black;
          box-shadow: 3px 3px 5px green;
        }
      }
    }
  }
}