.container-log {
  width: 85%;
  display: flex;
  margin: auto;
  padding: 0;

  .formulario {
    width: 35%;
    height: 350px;
    margin: auto;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: $btnShadow;
    background: $btnBackGround;

    @include desktop {
      width: 45%;
    }

    @include notebook {
      width: 50%;
    }

    @include tablets {
      width: 60%;
    }

    @include mobile600 {
      width: 70%;
    }

    @include mobile {
      width: 85%;
    }

    .form-control {
      box-shadow: $btnShadow;
      border-radius: 15px;
    }

    .btn {
      box-shadow: $btnShadow;
      background: $btnBackGround;
      width: 50%;
      margin: auto;
      color: black;
      cursor: pointer;
      text-align: center;
    }
  }
}