.container-cardDetail {

  @include mobile600 {
    width: 100%;
  }

  .cardDetail {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      width: 85%;
    }


    .container-card {
      width: 85%;
      margin: auto;

      @include mobile {
        width: 95%;
      }

      .card {
        box-shadow: $btnShadow;

        .card-info {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          @include mobile600 {
            flex-direction: column;
          }

          .image-card {
            width: 50%;
          }

          .content-card {
            width: 50%;

            .card-content {
              width: 90%;
            }

          }

        }

        .card-footer-item {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }

    .btn-volver {
      margin: auto;
      width: 45%;
      margin-bottom: 30px;
      box-shadow: $btnShadow;
      background: $btnBackGround;

      .link {
        text-decoration: none;
        color: black;
      }

    }
  }
}